<!DOCTYPE html>
<html>
<head>
  <title>MakersBnB</title>
</head>
<body>
  <h1>Listings</h1>
  <div class="">
    <ul>
      <li>Listing 1
        <div class="title">
          <p>Amazing flat in London</p>
        </div>
        <div class="description">
          <p>Three bedrooms.</p>
        </div>
        <div class="price">
          <p>£50/night</p>
        </div>
        <div class="image">
          <img src="">
        </div>
      </li>
      <li>Listing 2</li>
      <li>Listing 3</li>
    </ul>
  </div>

<h1>Post a listing</h1>
  <form class="post_listing" action="/new_listing" method="post">
    <input placeholder='name' type='text' name='title'>
    <input placeholder="description "type='text' name='description'>
    <input placeholder="price" type='text' name='price'>
    <input placeholder="image url "type='text' name='image'>
    <input type='submit' value='Save'/>
  </form>
</body>

</html>
